<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.travel.mapper.TravelTicketMapper">
    
    <resultMap type="TravelTicket" id="TravelTicketResult">
        <result property="ticketId"    column="ticket_id"    />
        <result property="scenicId"    column="scenic_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="price"    column="price"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTravelTicketVo">
        select ticket_id, scenic_id, quantity, price, create_time from travel_ticket
    </sql>

    <select id="selectTravelTicketList" parameterType="TravelTicket" resultMap="TravelTicketResult">
        <include refid="selectTravelTicketVo"/>
        <where>  
            <if test="scenicId != null "> and scenic_id = #{scenicId}</if>
        </where>
    </select>
    
    <select id="selectTravelTicketByTicketId" parameterType="Long" resultMap="TravelTicketResult">
        <include refid="selectTravelTicketVo"/>
        where ticket_id = #{ticketId}
    </select>

    <insert id="insertTravelTicket" parameterType="TravelTicket" useGeneratedKeys="true" keyProperty="ticketId">
        insert into travel_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scenicId != null">scenic_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="price != null">price,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scenicId != null">#{scenicId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="price != null">#{price},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTravelTicket" parameterType="TravelTicket">
        update travel_ticket
        <trim prefix="SET" suffixOverrides=",">
            <if test="scenicId != null">scenic_id = #{scenicId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where ticket_id = #{ticketId}
    </update>

    <delete id="deleteTravelTicketByTicketId" parameterType="Long">
        delete from travel_ticket where ticket_id = #{ticketId}
    </delete>

    <delete id="deleteTravelTicketByTicketIds" parameterType="String">
        delete from travel_ticket where ticket_id in 
        <foreach item="ticketId" collection="array" open="(" separator="," close=")">
            #{ticketId}
        </foreach>
    </delete>
</mapper>